p {
    font-style: italic;
    color: navy;
    font-family: serif;
}

main {
    padding: 2rem;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}